.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.notVisible {
  display: none;
}


.App-title {
  font-size: 1.5em;
}

.Container {
  width: 100%;
  margin: 40px;
}

h1 {
  margin-bottom: 50px;
}

form {
  width: 70%;
  margin: auto;
  text-align: left;
}

input{
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}

.LoanContainer, .hiddenLoans {
  width: 70%;
  margin-bottom: 80px;
  margin-left: 15%;
}

.hiddenLoans {
  display: none;
}

.LoanContainer div {
  display: block;
  text-align: left;
  margin-bottom: 30px;
}

.LoanContainer label{
  margin-right: 30px;
  text-align: left;
  float: left;
}

.button, button {
  background-color: #1C71FB;
  font-size: 16px;
  height: 40px;
  width: 173px;
  color: white;
  border-radius: 5px;
  display: inline-block;
}

.button:hover, button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  border-color: #1C71FB;
  color: #1C71FB;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
